extends layout

block content
  h1 validate num demo 
  h3=msg

  form(action="/")
    label
      img(width="100",height="20",src="/refresh")
    input(name="validat_num")
    input(type="submit",value="validate")

